@model CustomerOrdersViewModel

@{
    Layout = "_LayoutDashboard";
}

<h2>CustomerOrders</h2>

<h2>Customer Information</h2>
Customer ID: @Model.CustomerId
Name: @Model.CustomerName
Address: @Model.CustomerAddress
<h2>Orders</h2>
<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.TotalPrice</td>
            </tr>
        }
    </tbody>
</table>

@(Html.DevExtreme().TreeList<DevExtremeAspNetCoreAppDemo1.Models.Customer>()
        .DataSource(ds => ds.Mvc()
            .Controller("Customers")
            .LoadAction("CustomerOrders")
            .Key("Id")
        )
        //.RootValue(0)
        //.ParentIdExpr("TODO")
        //.RemoteOperations(o => o.Filtering(true).Grouping(true).Sorting(true))
        .Columns(columns =>
        {

            columns.AddFor(m => m.Id);

            columns.AddFor(m => m.Name);

            columns.AddFor(m => m.Gender);

            columns.AddFor(m => m.Phone);

            columns.AddFor(m => m.Address);

            columns.AddFor(m => m.City);

            columns.AddFor(m => m.Country);
        })
)